#swoosh-panel{
	width:454px;
	height: 85px;
	background: url(chrome://swoosh/content/image/google-bg.jpg);
}
#swoosh-box{
	padding-top: 10px ;
	padding-bottom: 10px ;
	width:454px;
	height: 85px;
}
#swoosh-textbox{
	width: 350px;

}
#swoosh-dropdown-arrow{
	list-style-image: url("chrome://swoosh/content/image/dropdown-arrow.png");
	-moz-image-region: rect(0px, 13px, 11px, 0px);
}
#swoosh-search-button{
	width: 48px;
	height: 48px;
	list-style-image: url("chrome://swoosh/content/image/search-button.png");
	-moz-image-region: rect(0px, 48px, 48px, 0px);
	float: right;
	opacity: 0.8;
}
#swoosh-search-button:hover{
	opacity: 1;
}
.swoosh-menu-button{
  -moz-appearance: none;
  min-width: 0;
  margin: 0;
  padding: 0;
  -moz-padding-end: 2px;
  -moz-box-align: center;
  background: none;
  border: none;
	list-style-image: url("chrome://swoosh/content/image/logo.jpg");
	-moz-image-region: rect(0px, 32px, 32px, 0px);
}
