
#swoosh-panel{
	border:none;
	background-color: white;
	padding: 0px;
}
#swoosh-box{
	height: 30px;
}
#swoosh-textbox{
	width: 250px;
	margin: 0px;
}
#swoosh-dropdown-arrow{
	list-style-image: url("chrome://swoosh/content/image/dropdown-arrow.png");
	-moz-image-region: rect(0px, 13px, 11px, 0px);
}
#swoosh-search-button{
	list-style-image: url("chrome://swoosh/content/image/search-button.png");
	-moz-image-region: rect(0px, 48px, 48px, 0px);
	float: right;
	opacity: 0.8;
}
#swoosh-search-button:hover{
	opacity: 1;
}
.swoosh-menu-button{
  -moz-appearance: none;
  min-width: 0;
  margin: 0;
  padding: 0;
  -moz-padding-end: 2px;
  -moz-box-align: center;
  background: none;
  border: none;
}
#swoosh-tip-panel{
	border-style: none;
	padding: 0px;
	margin: 0px;
	width: 250px;
	overflow: hidden;
}
#swoosh-panel menupopup{
	background-color: white;
}
#swoosh-tip-panel listbox{
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	height: auto;
}
#swoosh-tip-panel listitem{
	border-bottom: dashed 1px #006eb9;
}
#swoosh-tip-panel .swoosh-alias{
	font-weight: bolder;
	padding-left: 15px;
	padding-right: 15px;
	width: 60px;
}
.swoosh-tooltip{
	width: 100px;
	height: 80px;
}
#swoosh-switch-button {
	list-style-image: url('chrome://swoosh/content/image/swoosh24.png');
}
toolbar[iconsize="small"] #swoosh-switch-button {
	list-style-image: url('chrome://swoosh/content/image/swoosh16.png');
}
#swoosh-switch-button[swooshstate="off"] {
	list-style-image: url('chrome://swoosh/content/image/swoosh24-grey.png');
}
toolbar[iconsize="small"] #swoosh-switch-button[swooshstate="off"] {
	list-style-image: url('chrome://swoosh/content/image/swoosh16-grey.png');
}
