dialog{
	width: 450px;
	height: 400px;
}
#wrapper{
	background-color: white;
}
.version{
	font-size: 18px;
}
.features{
	white-space: wrap;
}
.logolink{
	   background: url("chrome://fullscreen/content/image/view-fullscreen.png") no-repeat scroll 0px 0px transparent;
	   padding-left: 52px;
	   line-height: 48px;
	   font-size: 24px;
	   display: block;
	   height: 48px;
	   text-decoration: none;
}