#am_wrapper{
	position: fixed;
	left: -1000px;
	top: -1000px;
	border: solid 1px grey;
	box-shadow: 2px 2px 2px;
	background-color: white;
	opacity: 0.2;
	padding: 3px;
}
#am_wrapper:hover{
	opacity: 1;
}
#am_wrapper vbox{
	display: none;
}
#am_wrapper vbox.actived{
	display: -moz-box;
}
.am-wrapper-single .am-row{
	-moz-box-orient: vertical;
}
.am-wrapper-single a:hover{
	background-color: grey;
}
.am-hover-cover{
	position: absolute;
	top:1px;
	width: 30px;
	height: 14px;
	border:solid 1px grey;
	opacity: 0.2;
}
.am-wrapper-multiply .am-item-text{
	display: none;
}
.am-row .image{
	display: block;
}
.am-row .image image{
	display: block;
	margin: auto;
}
.small .am-row .image{
	width: 16px;
	height: 16px;
}
.large .am-row .image{
	width: 32px;
	height: 32px;
}
/* 32px */
.large .am_BackFalse{
	list-style-image: url("chrome://automenu_gl/content/image/large/BackFalse.png")
}
.large .am_BackInactive{
	list-style-image: url("chrome://automenu_gl/content/image/large/BackInactive.png")
}
.large .am_BackTrue{
	list-style-image: url("chrome://automenu_gl/content/image/large/BackTrue.png")
}
.large .am_Bookmark{
	list-style-image: url("chrome://automenu_gl/content/image/large/Bookmark-HoverAvailable.png")
}
.large .am_CopyImage{
	list-style-image: url("chrome://automenu_gl/content/image/large/CopyImage-HoverAvailable.png")
}
.large .am_CopyLink{
	list-style-image: url("chrome://automenu_gl/content/image/large/CopyLink-HoverAvailable.png")
}
.large .am_CornerLeft{
	list-style-image: url("chrome://automenu_gl/content/image/large/CornerLeft.png")
}
.large .am_CornerRight{
	list-style-image: url("chrome://automenu_gl/content/image/large/CornerRight.png")
}
.large .am_ForwardFalse{
	list-style-image: url("chrome://automenu_gl/content/image/large/ForwardFalse.png")
}
.large .am_ForwardInactive{
	list-style-image: url("chrome://automenu_gl/content/image/large/ForwardInactive.png")
}
.large .am_ForwardTrue{
	list-style-image: url("chrome://automenu_gl/content/image/large/ForwardTrue.png")
}
.large .am_ImageInfo{
	list-style-image: url("chrome://automenu_gl/content/image/large/ImageInfo-HoverAvailable.png")
}
.large .am_Inspect{
	list-style-image: url("chrome://automenu_gl/content/image/large/Inspect-HoverAvailable.png")
}
.large .am_OpenInNewprivate{
	list-style-image: url("chrome://automenu_gl/content/image/large/OpenInNewprivate-HoverAvailable.png")
}
.large .am_OpenInNewtab{
	list-style-image: url("chrome://automenu_gl/content/image/large/OpenInNewtab-HoverAvailable.png")
}
.large .am_OpenInNewwindow{
	list-style-image: url("chrome://automenu_gl/content/image/large/OpenInNewwindow-HoverAvailable.png")
}
.large .am_PageInfo{
	list-style-image: url("chrome://automenu_gl/content/image/large/PageInfo-HoverAvailable.png")
}
.large .am_Paste{
	list-style-image: url("chrome://automenu_gl/content/image/large/Paste-HoverAvailable.png")
}
.large .am_Reload{
	list-style-image: url("chrome://automenu_gl/content/image/large/Reload-HoverAvailable.png")
}
.large .am_SaveAs{
	list-style-image: url("chrome://automenu_gl/content/image/large/SaveAs-HoverAvailable.png")
}
.large .am_SaveImageAs{
	list-style-image: url("chrome://automenu_gl/content/image/large/SaveImageAs-HoverAvailable.png")
}
.large .am_SaveLinkAs{
	list-style-image: url("chrome://automenu_gl/content/image/large/SaveLinkAs-HoverAvailable.png")
}
.large .am_SavePageAs{
	list-style-image: url("chrome://automenu_gl/content/image/large/SavePageAs-HoverAvailable.png")
}
.large .am_SelectAll{
	list-style-image: url("chrome://automenu_gl/content/image/large/SelectAll-HoverAvailable.png")
}
.large .am_SendImage{
	list-style-image: url("chrome://automenu_gl/content/image/large/SendImage-HoverAvailable.png")
}
.large .am_SendLink{
	list-style-image: url("chrome://automenu_gl/content/image/large/SendLink-HoverAvailable.png")
}
.large .am_ShowBackgroundImage{
	list-style-image: url("chrome://automenu_gl/content/image/large/ShowBackgroundImage-HoverAvailable.png")
}
.large .am_ShowSource{
	list-style-image: url("chrome://automenu_gl/content/image/large/ShowSource-HoverAvailable.png")
}
.large .am_Stop{
	list-style-image: url("chrome://automenu_gl/content/image/large/Stop-HoverAvailable.png")
}
.am-wrapper-multiply .large .am_BackFalse:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/BackFalse.png")
}
.am-wrapper-multiply .large .am_BackInactive:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/BackInactive.png")
}
.am-wrapper-multiply .large .am_BackTrue:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/BackTrue.png")
}
.am-wrapper-multiply .large .am_Bookmark:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/Bookmark-Plain.png")
}
.am-wrapper-multiply .large .am_CopyImage:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/CopyImage-Plain.png")
}
.am-wrapper-multiply .large .am_CopyLink:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/CopyLink-Plain.png")
}
.am-wrapper-multiply .large .am_CornerLeft:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/CornerLeft.png")
}
.am-wrapper-multiply .large .am_CornerRight:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/CornerRight.png")
}
.am-wrapper-multiply .large .am_ForwardFalse:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/ForwardFalse.png")
}
.am-wrapper-multiply .large .am_ForwardInactive:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/ForwardInactive.png")
}
.am-wrapper-multiply .large .am_ForwardTrue:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/ForwardTrue.png")
}
.am-wrapper-multiply .large .am_ImageInfo:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/ImageInfo-Plain.png")
}
.am-wrapper-multiply .large .am_Inspect:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/Inspect-Plain.png")
}
.am-wrapper-multiply .large .am_OpenInNewprivate:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/OpenInNewprivate-Plain.png")
}
.am-wrapper-multiply .large .am_OpenInNewtab:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/OpenInNewtab-Plain.png")
}
.am-wrapper-multiply .large .am_OpenInNewwindow:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/OpenInNewwindow-Plain.png")
}
.am-wrapper-multiply .large .am_PageInfo:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/PageInfo-Plain.png")
}
.am-wrapper-multiply .large .am_Paste:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/Paste-Plain.png")
}
.am-wrapper-multiply .large .am_Reload:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/Reload-Plain.png")
}
.am-wrapper-multiply .large .am_SaveAs:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/SaveAs-Plain.png")
}
.am-wrapper-multiply .large .am_SaveImageAs:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/SaveImageAs-Plain.png")
}
.am-wrapper-multiply .large .am_SaveLinkAs:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/SaveLinkAs-Plain.png")
}
.am-wrapper-multiply .large .am_SavePageAs:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/SavePageAs-Plain.png")
}
.am-wrapper-multiply .large .am_SelectAll:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/SelectAll-Plain.png")
}
.am-wrapper-multiply .large .am_SendImage:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/SendImage-Plain.png")
}
.am-wrapper-multiply .large .am_SendLink:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/SendLink-Plain.png")
}
.am-wrapper-multiply .large .am_ShowBackgroundImage:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/ShowBackgroundImage-Plain.png")
}
.am-wrapper-multiply .large .am_ShowSource:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/ShowSource-Plain.png")
}
.am-wrapper-multiply .large .am_Stop:hover{
	list-style-image: url("chrome://automenu_gl/content/image/large/Stop-Plain.png")
}
/* 16px */
.small .am_BackFalse{
	list-style-image: url("chrome://automenu_gl/content/image/small/BackFalse.png")
}
.small .am_BackInactive{
	list-style-image: url("chrome://automenu_gl/content/image/small/BackInactive.png")
}
.small .am_BackTrue{
	list-style-image: url("chrome://automenu_gl/content/image/small/BackTrue.png")
}
.small .am_Bookmark{
	list-style-image: url("chrome://automenu_gl/content/image/small/Bookmark-HoverAvailable.png")
}
.small .am_CopyImage{
	list-style-image: url("chrome://automenu_gl/content/image/small/CopyImage-HoverAvailable.png")
}
.small .am_CopyLink{
	list-style-image: url("chrome://automenu_gl/content/image/small/CopyLink-HoverAvailable.png")
}
.small .am_CornerLeft{
	list-style-image: url("chrome://automenu_gl/content/image/small/CornerLeft.png")
}
.small .am_CornerRight{
	list-style-image: url("chrome://automenu_gl/content/image/small/CornerRight.png")
}
.small .am_ForwardFalse{
	list-style-image: url("chrome://automenu_gl/content/image/small/ForwardFalse.png")
}
.small .am_ForwardInactive{
	list-style-image: url("chrome://automenu_gl/content/image/small/ForwardInactive.png")
}
.small .am_ForwardTrue{
	list-style-image: url("chrome://automenu_gl/content/image/small/ForwardTrue.png")
}
.small .am_ImageInfo{
	list-style-image: url("chrome://automenu_gl/content/image/small/ImageInfo-HoverAvailable.png")
}
.small .am_Inspect{
	list-style-image: url("chrome://automenu_gl/content/image/small/Inspect-HoverAvailable.png")
}
.small .am_OpenInNewprivate{
	list-style-image: url("chrome://automenu_gl/content/image/small/OpenInNewprivate-HoverAvailable.png")
}
.small .am_OpenInNewtab{
	list-style-image: url("chrome://automenu_gl/content/image/small/OpenInNewtab-HoverAvailable.png")
}
.small .am_OpenInNewwindow{
	list-style-image: url("chrome://automenu_gl/content/image/small/OpenInNewwindow-HoverAvailable.png")
}
.small .am_PageInfo{
	list-style-image: url("chrome://automenu_gl/content/image/small/PageInfo-HoverAvailable.png")
}
.small .am_Paste{
	list-style-image: url("chrome://automenu_gl/content/image/small/Paste-HoverAvailable.png")
}
.small .am_Reload{
	list-style-image: url("chrome://automenu_gl/content/image/small/Reload-HoverAvailable.png")
}
.small .am_SaveAs{
	list-style-image: url("chrome://automenu_gl/content/image/small/SaveAs-HoverAvailable.png")
}
.small .am_SaveImageAs{
	list-style-image: url("chrome://automenu_gl/content/image/small/SaveImageAs-HoverAvailable.png")
}
.small .am_SaveLinkAs{
	list-style-image: url("chrome://automenu_gl/content/image/small/SaveLinkAs-HoverAvailable.png")
}
.small .am_SavePageAs{
	list-style-image: url("chrome://automenu_gl/content/image/small/SavePageAs-HoverAvailable.png")
}
.small .am_SelectAll{
	list-style-image: url("chrome://automenu_gl/content/image/small/SelectAll-HoverAvailable.png")
}
.small .am_SendImage{
	list-style-image: url("chrome://automenu_gl/content/image/small/SendImage-HoverAvailable.png")
}
.small .am_SendLink{
	list-style-image: url("chrome://automenu_gl/content/image/small/SendLink-HoverAvailable.png")
}
.small .am_ShowBackgroundImage{
	list-style-image: url("chrome://automenu_gl/content/image/small/ShowBackgroundImage-HoverAvailable.png")
}
.small .am_ShowSource{
	list-style-image: url("chrome://automenu_gl/content/image/small/ShowSource-HoverAvailable.png")
}
.small .am_Stop{
	list-style-image: url("chrome://automenu_gl/content/image/small/Stop-HoverAvailable.png")
}
.am-wrapper-multiply .small .am_BackFalse:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/BackFalse.png")
}
.am-wrapper-multiply .small .am_BackInactive:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/BackInactive.png")
}
.am-wrapper-multiply .small .am_BackTrue:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/BackTrue.png")
}
.am-wrapper-multiply .small .am_Bookmark:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/Bookmark-Plain.png")
}
.am-wrapper-multiply .small .am_CopyImage:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/CopyImage-Plain.png")
}
.am-wrapper-multiply .small .am_CopyLink:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/CopyLink-Plain.png")
}
.am-wrapper-multiply .small .am_CornerLeft:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/CornerLeft.png")
}
.am-wrapper-multiply .small .am_CornerRight:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/CornerRight.png")
}
.am-wrapper-multiply .small .am_ForwardFalse:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/ForwardFalse.png")
}
.am-wrapper-multiply .small .am_ForwardInactive:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/ForwardInactive.png")
}
.am-wrapper-multiply .small .am_ForwardTrue:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/ForwardTrue.png")
}
.am-wrapper-multiply .small .am_ImageInfo:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/ImageInfo-Plain.png")
}
.am-wrapper-multiply .small .am_Inspect:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/Inspect-Plain.png")
}
.am-wrapper-multiply .small .am_OpenInNewprivate:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/OpenInNewprivate-Plain.png")
}
.am-wrapper-multiply .small .am_OpenInNewtab:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/OpenInNewtab-Plain.png")
}
.am-wrapper-multiply .small .am_OpenInNewwindow:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/OpenInNewwindow-Plain.png")
}
.am-wrapper-multiply .small .am_PageInfo:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/PageInfo-Plain.png")
}
.am-wrapper-multiply .small .am_Paste:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/Paste-Plain.png")
}
.am-wrapper-multiply .small .am_Reload:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/Reload-Plain.png")
}
.am-wrapper-multiply .small .am_SaveAs:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/SaveAs-Plain.png")
}
.am-wrapper-multiply .small .am_SaveImageAs:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/SaveImageAs-Plain.png")
}
.am-wrapper-multiply .small .am_SaveLinkAs:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/SaveLinkAs-Plain.png")
}
.am-wrapper-multiply .small .am_SavePageAs:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/SavePageAs-Plain.png")
}
.am-wrapper-multiply .small .am_SelectAll:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/SelectAll-Plain.png")
}
.am-wrapper-multiply .small .am_SendImage:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/SendImage-Plain.png")
}
.am-wrapper-multiply .small .am_SendLink:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/SendLink-Plain.png")
}
.am-wrapper-multiply .small .am_ShowBackgroundImage:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/ShowBackgroundImage-Plain.png")
}
.am-wrapper-multiply .small .am_ShowSource:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/ShowSource-Plain.png")
}
.am-wrapper-multiply .small .am_Stop:hover{
	list-style-image: url("chrome://automenu_gl/content/image/small/Stop-Plain.png")
}
#am_setDialog_wrapper{
	display: none;
}
#am_setDialog_wrapper .header{
	background-color: #303942;
	opacity: 0.6;
}
#am_setDialog_wrapper.am_docked{
	position: fixed;
	left: 10px;
	top: 10px;
	background-color: #CDD8E4;
	display: -moz-box;
	border: solid 1px;
	-moz-box-orient:vertical;
	box-shadow: 0 0 5px;
	border-radius: 5px;
	padding: 4px 4px 4px 4px;
}
#am_setDialog_wrapper .am_h1{
	font: 18px "Lucida Grande","Lucida Sans Unicode","DejaVu Sans",Lucida,Arial,Helvetica,sans-serif;
	color: #0066CC;	
	background-color: #F0F0F0;
}
#am_setDialog_content{
	background-color: white;
}
#am_setDialog_left{
	overflow: hidden;
}
.am_docked .resizer{
	display: none;
}
#am_resize_content{
 	background: black;
    left:0px;
    top:0px;
    height:4px;
    cursor:ns-resize;
}
#am_elements{
	padding:8px;
	width: 160px;
}
#am_elements .am_element_label{
	cursor: default;
}
#am_elements .am_element_label:hover{
	color: gray;
}
#am_elements .arrow{
	text-align: right;
	color: red;
	display: none;
}
#am_elements .actived .arrow{
	display: -moz-box;
}
#am_elements .actived{
	font-weight:bolder;
	color: #0066CC;
}
#am_menuitems{
	overflow-x: hidden;
	overflow-y: auto;
	width: 200px;
	height: 250px;
	/*height: 400px;*/
	white-space: nowrap;
	margin-left:10px;
}
#am_menuitems description{
	position: absolute;
	left:100px;
	top:380px;
}
#am_close_button{
	top: 0px;
	right: 0px;
	list-style-image: url("chrome://automenu_gl/content/image/close.png");
}
#am_dock_button{
	list-style-image: url("chrome://automenu_gl/content/image/undock.png");
}
.am_docked #am_dock_button{
	list-style-image: url("chrome://automenu_gl/content/image/dock-bottom.png");
}
#am_setDialog_wrapper .header toolbarbutton{
	-moz-appearance: none;
	border-top-width: medium;
	border-right-width-value: medium;
	border-right-width-ltr-source: physical;
	border-right-width-rtl-source: physical;
	border-bottom-width: medium;
	border-left-width-value: medium;
	border-left-width-ltr-source: physical;
	border-left-width-rtl-source: physical;
	border-top-style: none;
	border-right-style-value: none;
	border-right-style-ltr-source: physical;
	border-right-style-rtl-source: physical;
	border-bottom-style: none;
	border-left-style-value: none;
	border-left-style-ltr-source: physical;
	border-left-style-rtl-source: physical;
	border-top-color: -moz-use-text-color;
	border-right-color-value: -moz-use-text-color;
	border-right-color-ltr-source: physical;
	border-right-color-rtl-source: physical;
	border-bottom-color: -moz-use-text-color;
	border-left-color-value: -moz-use-text-color;
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image-source: none;
	border-image-slice: 100% 100% 100% 100%;
	border-image-width: 1 1 1 1;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	margin-top: 0px;
	margin-right-value: 4px;
	margin-bottom: 0px;
	margin-left-value: 4px;
	margin-left-ltr-source: physical;
	margin-left-rtl-source: physical;
	margin-right-ltr-source: physical;
	margin-right-rtl-source: physical;
	min-width: 16px;
	width: 16px;
	opacity: 0.6;
}
#am_setDialog_wrapper .header toolbarbutton:hover{
	opacity: 1;
}
#am_setDialog_wrapper button{
	min-width: 0px;
	min-height: 0px;
	margin: 0px;
}
#am_drag_line{
	display: -moz-box;
	border: solid 2px rgb(240,240,240);
	height: 5px;
	cursor: ns-resize;
}
#am_setDialog_footer{
	width: 380px;
	-moz-locale-dir(rtl)
}
#am_setDialog_footer button{
	text-align: center;
	float: right;
}
.am-horizontal{
	-moz-box-orient:horizontal;
}