#am_wrapper{
	position: fixed;
	left: -1000px;
	top: -1000px;
	border: solid 1px;
	background-color: white;
	opacity: 0.2;
}
#am_wrapper:hover{
	opacity: 1;
}
#am_wrapper box{
	display: none;
}
#am_wrapper box.actived{
	display: -moz-box;
}
.am_CopyImage{
	list-style-image: url("chrome://automenu_gl/content/image/CopyImage-Plain.png");
}
.am_CopyImage:hover{
	list-style-image: url("chrome://automenu_gl/content/image/CopyImage-HoverAvailable.png");
}
.am_CopyLink{
	list-style-image: url("chrome://automenu_gl/content/image/CopyLink-Plain.png");
}
.am_CopyLink:hover{
	list-style-image: url("chrome://automenu_gl/content/image/CopyLink-HoverAvailable.png");
}
.am_ImageInfo{
	list-style-image: url("chrome://automenu_gl/content/image/ImageInfo-Plain.png");
}
.am_ImageInfo:hover{
	list-style-image: url("chrome://automenu_gl/content/image/ImageInfo-HoverAvailable.png");
}
.am_SaveImageAs{
	list-style-image: url("chrome://automenu_gl/content/image/SaveImageAs-Plain.png");
}
.am_SaveImageAs:hover{
	list-style-image: url("chrome://automenu_gl/content/image/SaveImageAs-HoverAvailable.png");
}
.am_SendImage{
	list-style-image: url("chrome://automenu_gl/content/image/SendImage-Plain.png");
}
.am_SendImage:hover{
	list-style-image: url("chrome://automenu_gl/content/image/SendImage-HoverAvailable.png");
}
#am_setDialog_wrapper{
}
#am_setDialog_wrapper.am_poped{
	position: fixed;
	left: 10px;
	top: 10px;
	background-color: white;
	display: -moz-box;
	border: solid 1px;
	-moz-box-orient:vertical;
}
.am_poped resizer{
	display: none;
}
#am_setDialog{
	width: 380px;
}
#am_elements{
	padding:8px;
	width: 160px;
}
#am_elements .am_element_label{
	cursor: default;
}
#am_elements .am_element_label:hover{
	color: gray;
}
#am_elements .arrow{
	text-align: right;
	color: red;
	display: none;
}
#am_elements .actived .arrow{
	display: -moz-box;
}
#am_menuitems{
	overflow-x: hidden;
	overflow-y: auto;
	width: 200px;
	/*height: 400px;*/
	white-space: nowrap;
	margin-left:10px;
}
#am_menuitems description{
	position: absolute;
	left:100px;
	top:380px;
}
#am_close_button{
	top: 0px;
	right: 0px;
	width: 30px;
	height: 30px;
	background-image: url("chrome://automenu_gl/content/image/am.png");
	background-position: 0px 0px;
}
#am_drag_line{
	display: -moz-box;
	border: solid 2px rgb(240,240,240);
	height: 5px;
	cursor: ns-resize;
}
#am_setDialog_footer{
	width: 380px;
	-moz-locale-dir(rtl)
}
#am_setDialog_footer button{
	text-align: center;
	float: right;
}