#fullscreen-navigator-panel{
	border:0;
	background-color: #B1CFEB;
	padding: 0px;
	margin: 0px;
}
.gl-navigator-bottom{
	-moz-box-direction: reverse;
}
.gl-navigator-bottom #window-controls{
	margin-top: 10px;
}
#gl-fullscreen-switch-button {
	list-style-image: url('chrome://fullscreen/content/image/fullscreen24.png');
}
toolbar[iconsize="small"] #gl-fullscreen-switch-button {
	list-style-image: url('chrome://fullscreen/content/image/fullscreen16.png');
}
menuitem.gl-fullscreen{
	list-style-image: url('chrome://fullscreen/content/image/fullscreen16.png');
}
menuitem.gl-maxmodeFull{
	list-style-image: url('chrome://fullscreen/content/image/maxmodefull16.png');
}