#fullscreen-navigator-panel{
	position: fixed;
	background-color: #B1CFEB;
	top: 0 !important;
	left: 0 !important;
	z-index: 2147483647 !important;
	width: 100% !important;
	margin: 0 !important;
	min-width: 0 !important;
	max-width: none !important;
	min-height: 0 !important;
	max-height: none !important;
	/*-moz-box-sizing: border-box !important; */
	border:0;
	padding: 0;
	margin: 0;
	display: none;
}
.gl-navigator-bottom{
	/*-moz-box-direction: reverse;*/
}
.gl-navigator-bottom #window-controls{
	margin-top: 10px;
}
#gl-fullscreen-switch-button {
	list-style-image: url('chrome://fullscreen/content/image/fullscreen24.png');
}
toolbar[iconsize="small"] #gl-fullscreen-switch-button {
	list-style-image: url('chrome://fullscreen/content/image/fullscreen16.png');
}
menuitem.gl-fullscreen{
	list-style-image: url('chrome://fullscreen/content/image/fullscreen16.png');
}
menuitem.gl-maxmodeFull{
	list-style-image: url('chrome://fullscreen/content/image/maxmodefull16.png');
}
#gl-fullscreen-tab-nav{
	background-color: transparent;
	border-style: none;
	width: 24px;
	height: 24px;
}
#gl-fullscreen-tab-nav.gl-fullscreen-hovered{
	cursor:url(../image/tabNav24.png) 2 2, pointer;
}
#fullscr-toggler{
	display: none;
}
#gl-fullscr-toggler{
	display: none;
}
#main-window[sizemode=fullscreen] #gl-fullscr-toggler{
	display: block;
	height: 1px;
}
#main-window[inFullscreen=true] #gl-fullscr-toggler{
	display: block;
	height: 1px;
}
#fullscreen-navigator-panel toolbox{
	width: 100%;
	margin: 0 !important;
}